language: node_js

os:
  - windows
  - osx
  - linux

node_js:
  - "node"
  - "10"
  - "8"
  - "6"

matrix:
  include:
    - os: windows
      node_js: "latest"
  exclude:
    - os: windows
      node_js: "node"

after_success: npm run coverage
